<div class="dropdown-w3">
  <button (click)="myFunction($event.target)" class="dropbtn">Dropdown</button>
  <div id="myDropdownMain" class="dropdown-w3-content">
    <a (click)="openPopupOne()">Link 1</a>
    <a (click)="openPopupTwo()">Link 2</a>
    <a (click)="openPopupThree()">Link 3</a>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="hamburger-container">
  <button type="button" class="hamburger-toggle-button" (click)="toggleButtonBarsCrossClass($event.target)">
    <div class="bar-top"></div>
    <div class="bar-middle"></div>
    <div class="bar-bottom"></div>
  </button>
  <div id="myDropdownSecond" class="hamburger-content">
    <a (click)="openPopupOne()">Link 1</a>
    <a (click)="openPopupTwo()">Link 2</a>
    <a (click)="openPopupThree()">Link 3</a>
  </div>
</div>
