<div class="navigation-container ">
  <nav class="navbar navbar-inverse">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-primary" routerLink="home" routerLinkActive="true">Home</a>
      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="fieldApplicationsId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Applications
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item btn btn-primary" routerLink="application-status" routerLinkActive="true">Status</a>
            <a class="dropdown-item btn btn-primary" routerLink="application-approve" routerLinkActive="true">Loan Approve</a>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="fieldMyExperimentsId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Experiments
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item btn btn-primary" routerLink="my-experiments" routerLinkActive="true">Home</a>
            <a class="dropdown-item btn btn-primary" routerLink="my-experiments/interpolation" routerLinkActive="true">Interpolation</a>
            <a class="dropdown-item btn btn-primary" routerLink="my-experiments/prop-binding" routerLinkActive="true">Property Binding</a>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="fieldDropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item btn btn-primary" routerLink="dropdown-jhipster" routerLinkActive="true">Jhipster</a>
            <a class="dropdown-item btn btn-primary" routerLink="dropdown-w3school" routerLinkActive="true">W3school</a>
            <a class="dropdown-item btn btn-primary" routerLink="dropdown-threelines" routerLinkActive="true">ThreeLinesToX</a>
            <a class="dropdown-item btn btn-primary" routerLink="dropdown-iconx" routerLinkActive="true">IconX</a>
            <a class="dropdown-item btn btn-primary" routerLink="dropdown-lines2x" routerLinkActive="true">LinesToXD</a>
          </div>
        </div>
      </li>

      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="fieldPrimeNgComponentsId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PrimeNg Components
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item btn btn-primary" routerLink="primeng-datatable" routerLinkActive="true">Application Datatable</a>
          </div>
        </div>
      </li>

    </ul>
  </nav>
</div>
