<p>
  application-datatable works!
</p>

<div class="row">
  <div class="col-md-12">
    <p-accordion>
      <p-accordionTab header="Header 1">
        Content 1
      </p-accordionTab>
      <p-accordionTab header="Header 2">
        Content 2
      </p-accordionTab>
      <p-accordionTab header="Header 3">
        Content 3
      </p-accordionTab>
    </p-accordion></div>
</div>

<p-dataTable [value]="applications"
             [scrollable]="true"
             [lazy]="true"
             [paginator]="true"
             [rows]="itemsPerPage"
             [totalRecords]="totalItems"
             reorderableColumns="true"
             (onLazyLoad)="loadData($event)"
             (onColReorder)="onColReorder($event)">
  <p-column field="id" header="Id" [sortable]="true"></p-column>
  <p-column field="customerId" header="customerId" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="basketId" header="basketId" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="createdBy" header="createdBy"></p-column>
  <p-column field="createdOn" header="createdOn"></p-column>
  <p-column field="lockedBy" header="lockedBy"></p-column>
  <p-column field="lockedOn" header="lockedOn"></p-column>
  <p-column field="readOnly" header="readOnly"></p-column>
</p-dataTable>

<br />

<button type="button" class="btn btn-primary" (click)="reset()" label="Reset">Reset</button>
