<p>
  sidebar-toggle-menu works!
</p>

<div class="col-md-8"></div>
<div class="col-md-4 sidebar-container">
  <div class="sidebar-container">
    <div class="sidebar-toggle-menu-container ">
      <ul class="nav navbar-nav">

        <!-- Ausgangskanal -->
        <li class="panel panel-default dropdown category">
          <a data-toggle="collapse" href="#dropdown-outputChannel" class="collapsed title" aria-expanded="false">
            <span class="icon-category"></span><span>Ausgangskanal</span>
          </a>

          <div id="dropdown-outputChannel" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <ul>
                <li>
                    <p>
                      Email
                    </p>
                    <p>
                      Brief
                    </p>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- CATEGORY -->
        <li class="panel panel-default dropdown category">
          <a data-toggle="collapse" href="#dropdown-category" class="collapsed title" aria-expanded="false">
            <span class="icon-category"></span><span>CATEGORY</span>
          </a>

          <div id="dropdown-category" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <ul>
                <li>
                  Category one
                </li>
                <li>
                  Category two
                </li>
                <li>
                  Category three
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- CUSTOMER DATA FIELD -->
        <li class="panel panel-default dropdown modules">
          <a data-toggle="collapse" href="#dropdown-data" class="collapsed title" aria-expanded="false">
            <span class="icon-bausteine"></span><span>CUSTOMER DATA FIELD</span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-data" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <ul id="contactList">
                <li>
                  Field one
                </li>
                <li>
                  Field two
                </li>
                <li>
                  Field three
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- VARIATION MODULES -->
        <li class="panel panel-default dropdown variation-modules">
          <a data-toggle="collapse" href="#dropdown-variation-modules" class="collapsed title" aria-expanded="false">
            <span class="icon-bausteine"></span><span>VARIATION MODULES</span>
          </a>

          <!-- Dropdown level 1 -->
          <div id="dropdown-variation-modules" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
              <ul id="variationModuleListId">
                <li>
                  Variation one
                </li>
                <li>
                  Variation two
                </li>
                <li>
                  Variation three
                </li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.side-menu-container -->
  </div>
  <!-- /.email-nav-container -->
</div>
